[submodule "nadavapalli-lakshman-ai-cyber-threat-detection"]
	path = nadavapalli-lakshman-ai-cyber-threat-detection
	url = https://github.com/LAKSHMAN-NADAVAPALLI/nadavapalli-lakshman-ai-cyber-threat-detection
